<div class="SpacingBox">
    <div class="borderBox">
    <h2>Account Details</h2>
    Username: <%- username %>
    <br>
    HouseHold: <%- household %>
    
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    </div>
</div>
