<div class="SpacingBox">
    <form id="CreateHouseHoldForm" action="/CreateAccount" method="post">
        <h2>Create Account</h2>
        <label for="username">Username:</label>
        <input type="text" name="username">
        <br>
        <label for="Password">Password: </label>
        <input type="text" name="password">
        <br>
    </form>
    <div class="sidebyside">
        <form action="/" method="get">
            <button>Back</button>
        </form>
        <button type="submit" form="CreateHouseHoldForm">Create HouseHold</button>
        </div>
</div>