<div class="SpacingBox">
    <div class="borderBox">
        <form action="/login" method="get">
            <button> Log In</button>
        </form>
        <div> or </div>
        <form action="/CreateAccount" method="get">
            <button> Create Account</button>
        </form>
    </div>
</div>